div.header-background {
    width: 100%;
    height: 150px;
    display: inline-block;
    background: #2F2B35;
}

ul.burger-menu {
    display:none;
}

a.underline {
    position: relative;
    text-decoration: none;
}

a.underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}
a.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(67, 197, 197);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav.top-nav {
    margin-top: 45px;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

nav p.brand {
    display: inline-block;
    font-size: 25px;
    margin-left: 90px;
    cursor: pointer;
}

nav ul.nav-primary {
    float: right;
    margin-right: 100px;
}

nav ul.nav-primary li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    text-transform: uppercase;
    padding: 18px 0px 5px 0px;
}

nav ul.nav-primary li a {
    text-decoration: none;
    color: #ffffff;
}



nav ul.nav-primary li.icon {
    display: none;
}

.blog-name-page {
    background-color: #515570;
    margin: 0;
}

.blog-name-page > h1 {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.blog-name-page > p {
    margin-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
    color: white;
    font-size:20px;
}

.blog-name-page > p > a {
    text-decoration: none;
    color: white;
}

.blog-name-page > p > a:hover {
    color: #91d2ff;
}

footer {
    color: #fafafa;
    width: 100%;
    padding: 50px 0 20px;
    text-align: center;
    background: #2f2b35;
    text-transform: capitalize;
}
nav.bottom-nav ul li:first-child{
    margin-left: 10px;
}
nav.bottom-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav.bottom-nav ul li a {
    color: #fafafa;
    text-decoration: none;
}

nav.bottom-nav ul li:hover a {
    color: #a7a7a7;
}

footer p.copyright {
    font-size: 14px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    nav ul.nav-primary li.nav-item {
        display: none;
    }

    div.header-background {
        width:100%;
         height: 100vw;
        /*background:url("../images/mobile-background.jpg");*/
        background-image: linear-gradient(to top right, #B6D8C0, #FEDCBA);
    }
    
    .header-background > .top-nav > p.brand {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    header {
        display: none;
    }

    .burger {
        background-color: rgb(54, 36, 82);
        display:inline;
        opacity:0.3;
        position: absolute;
        width: 60px;
        height: inherit;
        float: left;
        transition: width .3s;         
    }

    .burger.open {
        width: 100vw;
    }
        
    .closeburger {
        position: absolute;
        top: 20px;
        left: 10px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
      
    .middleburger, 
    .closeburger:before, 
    .closeburger:after {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #eee;
        border-radius: 1px;
    }
      
    .middleburger {
        top: 50%;
        margin-top: -2px;
        transition: transform ease (500ms);
    }
      
    .closeburger:before {
        content: '';
        top: 5px;
        transition: top 500ms ease 500ms, transform 500ms ease;
    }
      
    .closeburger:after {
        content: '';
        bottom: 6px;
        transition: bottom 500ms ease 500ms, transform 500ms ease;
    }
      
    .open .closeburger .middleburger {
        transform: rotate(225deg);
        transition: transform 500ms ease 500ms;
    }
      
    .open .closeburger:before {
        top: 13px;
        transform: rotate(225deg);
        transition: top 500ms ease, transform 500ms ease 500ms;
    }
      
    .open .closeburger:after {
        bottom: 14px;
        transform: rotate(-225deg);
        transition: bottom 500ms ease, transform 500ms ease 500ms;
    }

    .open ul.burger-menu {
        display:block;
        margin-top:60px;   
    }
    
    .open ul.burger-menu li {
        padding-top: 20px;
    }
    
    .open ul.burger-menu li a {
        font-family: 'Eczar', serif;
        color: #fafafa;
        text-transform: uppercase;
        font-size: 22px;
        margin-left: 20px;
        text-decoration: none;
    }

}
